/* touchpad.css */

#wrapper {
	width: 264px;
}
#wrapper.x2 {
	width: 520px;
}

#touchpad {
	width: 256px; height: 192px;
	overflow: none;
	border: 4px inset #aaa;
	position: relative;
}
#wrapper.x2 #touchpad {
	width: 512px; height: 384px;
}

#touchpad .touchscreen {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	/*width: 256px; height: 192px;*/
	z-index: 10;
}

/* Imgur Dialog */
#imgurDlog {
	display: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 15;
	
	text-align: center;
	background-color: rgba(128, 128, 128, 0.85);
	color: white;
}

#imgurDlog .cancel {
	position: absolute;
	bottom: 4; right: 4;
}

#imgurDlog .linktext {
	margin-bottom: 6px;
}

#imgurDlog .err:empty {
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}
#imgurDlog .err {
	font-weight: bold;
	color: red; 
	background-color: white;
	padding: 2px;
	border-radius: 6px;
}


#touchpad .screenimg {
	width: 256px; height: 192px;
	z-index: 1;
}
#wrapper.x2 #touchpad .screenimg {
	width: 512px; height: 384px;
}


#touchpad .highlight {
	z-index: 5;
	position: absolute;
}
#touchpad .highlight.small {
	display: block;
}
#wrapper.x2 #touchpad .highlight.small {
	display: none;
}
#touchpad .highlight.big {
	display: none;
}
#wrapper.x2 #touchpad .highlight.big {
	display: block;
}


.ajaxloader {
	position: absolute;
	left: 120px; top: 88px;
	display: none;
	z-index: 20;
}
#wrapper.x2 .ajaxloader {
	left: 248px; top: 184px;
}

#zoombutton {
	float: right;
}

table#resultpad {
	margin-top: 6px;
	width: 100%;
	text-align: center;
	border: 2px outset white;
}
table#resultpad td {
	border: 2px inset white;
}